{% extends 'base.html.twig' %}

{% block body %}
	<section id="add">
		<a href="index.html">← Retour</a>
		<h1>Ajouter une voiture</h1>

		{{ form_start(form) }}

		<div class="flex-input">
			{{ form_row(form.brand) }}
			{{ form_row(form.model) }}
		</div>
		{{ form_row(form.description) }}
		<div class="flex-input">
			{{ form_row(form.monthlyPrice) }}
			{{ form_row(form.dailyPrice) }}
		</div>
		{{ form_row(form.seat) }}
		{{ form_row(form.gearType) }}

		{{ form_end(form) }}
	</section>
{% endblock %}
